<section class="container-xxl pt-2 pb-12">
  <ul
    class="nav nav-pills text-nowrap snap-x-mandatory overflow-x-auto flex-nowrap py-3 gap-2 nav_tabs1"
  >
    <li class="snap-align-start">
      <a href="#" class="nav-link active" type="button">Overview</a>
    </li>
    <li class="snap-align-start">
      <a href="#" class="nav-link disabled">Consensus Info</a>
    </li>
    <li class="snap-align-start">
      <a href="#" class="nav-link disabled">Mev Info</a>
    </li>
  </ul>
  <div class="fade">
    <div class="card p-5 mb-3">
      <div class="row mb-4">
        <div class="col-md-3 text-dt">
          <i class="bi bi-question-circle me-1"></i> Block Height:
        </div>
        <div class="col col-md-9">
          <div class="d-flex align-items-center gap-2">
            <div>19266160</div>
            <div class="text-nowrap">
              <a href="" class="btn btn-sm btn-secondary py-5">
                <i class="small fa bi bi-caret-left-fill"></i>
              </a>
              <span aria-label="You have reached the last test block">
                <span class="btn btn-sm btn-secondary py-5 disabled">
                  <i class="small fa bi bi-caret-right-fill"> </i>
                </span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-md-3 text-dt mb-1 mb-md-0">
          <i class="fa bi-question-circle me-1"></i> Status:
        </div>
        <div class="col col-md-9">
          <span
            class="badge bg-secondary bg-opacity-10 border border-secondary border-opacity-25 text-dark fw-medium py-1 px-2"
            ><i class="fa bi-hourglass-top text-secondary me-5"></i>
            Unfinalized</span
          >
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-md-3 text-dt mb-2 mb-md-0">
          <i class="fa bi-question-circle me-1"></i>
          Timestamp:
        </div>
        <div class="col col-md-9">
          <i class="fa bi-clock small"> </i>
          11 secs ago
          <span>(Jan-30-2024 01:26:59 AM +UTC)</span>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-md-3 text-dt mb-2 mb-md-0">
          <i class="fa bi-question-circle me-1"></i>
          Proposed On:
        </div>
        <div class="col-md-9">
          Block proposed on slot <a href="">8312833</a>, epoch
          <a href="#">259776</a>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 text-dt mb-2 mb-md-0">
          <i class="fa bi-question-circle mb-1"></i>
          Transactions:
        </div>
        <div class="col-md-9">
          <a href="#">124 transactions </a> and
          <a href="#"> 55 contract internal transactions</a> in this block
        </div>
      </div>
      <div class="mt-4">
        <div class="row">
          <div class="col-md-3 text-dt mb-2 mb-md-0">
            <i class="fa bi-question-circle mb-1"></i>
            Withdrawals:
          </div>
          <div class="col-md-9">
            <a href="#">16 withdrawals </a> in this block
          </div>
        </div>
      </div>
      <!-- Linea para dividir secciones -->
      <hr class="my-5 opacity-75" />
      <!-- Linea para dividir secciones end -->
      <div class="row mb-4">
        <div class="col-md-3 text-dt mb-2 mb-md-0">
          <i class="fa bi-question-circle"></i>
          Fee Recipient:
        </div>
        <div class="col-md-9">
          <a href="#">Titan Builder</a
          ><a href="#" class="link-secondary"
            ><i class="far fa fa-fw bi-copy"></i
          ></a>
          in 12 secs
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-md-3 text-dt mb-2 mb-md-0">
          <i class="fa bi-question-circle me-1"></i>
          Block Reward:
        </div>
        <div class="col-md-9">
          0.024743162484000299 ETH (0 + 0.237823373649600463 -
          0.213080211165600164)
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-md-3 text-dt mb-2 mb-md-0">
          <i class="fa bi-question-circle me-1"></i>
          Total Difficulty:
        </div>
        <div class="col-md-9">58,750,003,716,598,352,816,469</div>
      </div>
      <div class="row mb-4">
        <div class="col-md-3 text-dt mb-2 mb-md-0">
          <i class="fa bi-question-circle me-1"></i>
          Size:
        </div>
        <div class="col-md-9">67,022 bytes</div>
      </div>
      <hr class="my-5 opacity-75" />
      <div class="row mb-4 align-items-center">
        <div class="col-md-3 text-dt mb-2 mb-md-0">
          <i class="fa bi-question-circle me-1"></i>
          Gas used:
        </div>
        <div class="col-md-9 d-flex align-items-center">
          14,904,476
          <span class="text-muted">(49.68%) </span>
          <div class="d-flex align-items-center">
            <span class="overflow-hidden">
              <div class="highcharts">
                <i inlineSVG="../../../assets/svg/highchart.svg"></i>
              </div>
            </span>
            <span class="text-success">+7% Gas Target</span>
          </div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-md-3 text-dt mb-2 mb-md-0">
          <i class="fa bi-question-circle me-1"></i>
          Gas Limit:
        </div>
        <div class="col-md-9">30,000,000</div>
      </div>

      <div class="row mb-4">
        <div class="col-md-3 text-dt mb-2 mb-md-0">
          <i class="fa bi-question-circle me-1"></i>
          Base Fee Per Gas:
        </div>
        <div class="col-md-9">
          0.000000024081595749 ETH
          <span class="text-muted">(24.081595749 Gwei)</span>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-md-3 text-dt mb-2 mb-md-0">
          <i class="fa bi-question-circle me-1"></i>
          Burnt Fees:
        </div>
        <div class="col-md-9">🔥 0.386603096526147618 ETH</div>
      </div>

      <div class="row mb-4">
        <div class="col-md-3 text-dt mb-2 mb-md-0">
          <i class="fa bi-question-circle me-1"></i>
          Extra Data:
        </div>
        <div class="col-md-9">
          Titan (titanbuilder.xyz)
          (Hex:0x546974616e2028746974616e6275696c6465722e78797a29)
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-md-3 text-dt mb-2 mb-md-0">
          <i class="fa bi-question-circle me-1"></i>
          Ether Price:
        </div>
        <div class="col-md-9">$3,015.27 / ETH</div>
      </div>
    </div>
  </div>
  <div class="card p-5 mb-3">
    <div class="row">
      <div class="col-md-3 text-dt mb-2 mb-md-0">More Details:</div>
      <a class="col col-md-9 text-hover">
        <i class="fa bi-plus small"> </i>
        Click to show more
      </a>
    </div>
  </div>
</section>
