<!-- <header class="chain border-bottom">
  <nav class="navbar nav-holder py-lg pg-3 navbar-expand navbar-expand-lg">
    <div class="container-xxl position">
      <a href="#" class="brand" >
        <img
          width="150"
          data-img-theme="light"
          src="../assets/svg/etherscan.svg"
          alt="Etherscan Logo"
        />
        <img
          width="150"
          data-img-theme="darkmode"
          src="../assets/svg/etherscan-white.svg"
          alt="Etherscan Logo White"
        />
      </a>
      <div class="display-btn">
        <button class="btn-nav" type="button">
          <span class="span-icon"></span>
        </button>
      </div>
      <div class="nav-collapse">
        <ul class="ul-nav gap pt gap-1 padd">
          <li>
            <a href="#" class="nav-link"> Home </a>
          </li>
          <li>
            <a href="#" class="nav-link"> Home </a>
          </li>
          <li>
            <a href="#" class="nav-link"> Home </a>
          </li>
          <li>
            <a href="#" class="nav-link"> Home </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header> -->

<header class="header border-bottom">
  <nav class="navbar navbar-expand-lg navbar-light py-3 py-lg-0">
    <div class="container-xxl position-relative">
      <a href="#" class="navbar-brand">
        <!-- <img
          width="150"
          data-img-theme="light"
          src="../assets/svg/etherscan.svg"
          alt="Etherscan Logo"
        /> -->
        <img
          width="150"
          data-img-theme="darkmode"
          src="../assets/svg/etherscan-white.svg"
          alt="Etherscan Logo White"
        />
      </a>
      <div class="d-flex align-items-center gap-4">
        <button class="navbar-toggler" type="button">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav gap-1 gap-lg-0 pt-4 pt-lg-0">
          <li>
            <a href="#" class="nav-link"> Home </a>
          </li>
          <li>
            <a href="#" class="nav-link"> Blockchain </a>
          </li>
          <li>
            <a href="#" class="nav-link"> Tokens </a>
          </li>
          <li>
            <a href="#" class="nav-link"> NFTs </a>
          </li>
          <li>
            <a href="#" class="nav-link"> Resources </a>
          </li>
          <li>
            <a href="#" class="nav-link"> Developers </a>
          </li>
          <li>
            <a href="#" class="nav-link"> More </a>
          </li>
          <li>
            <a href="#" class="nav-link"> FREDHCR </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
