<section class="py-5 border-bottom bg-white sticky-top">
  <div class="container-xxl container-eth">
    <div class="eth-price text-color-price">
      <span class="text-color-price"> ETH Price: </span>
      <a href="#">$2,314.85</a>
      <span class="porcent"> (+2.24%)</span>
    </div>
    <div class="div-search">
      <div class="search-input">
        <form
          action="/search"
          method="get"
          autocomplete="off"
          spellcheck="false"
          class="form-input"
        >
          <input
            type="text"
            id="text"
            class="control-input form-input-control"
            placeholder="Search by Address / Txn Hash / Block / Token / Domain Name"
          />
          <span class="span-slash">
            <kbd class="slash slash-opacity">/</kbd>
          </span>
        </form>
      </div>
    </div>
  </div>
</section>
